
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/UILayout.cshtml";
}

 <div class="container">
    <div class="row">
        <div class="col-lg-8">

@await Component.InvokeAsync("_BlogArticleComponentPartial")

@await Component.InvokeAsync("_BlogPaginationComponentPartial")

</div>
    <div class="col-lg-4 sidebar">
            <section>
                <div class="widgets-container">

                    @await Component.InvokeAsync("_BlogSidebarSearchComponentPartial")

                    @await Component.InvokeAsync("_BlogSidebarCategoriesComponentPartial")

                    @await Component.InvokeAsync("_BlogSidebarTagsComponentPartial")

                </div>
            </section>
        </div>
    </div>
</div>
