<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="Index" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="Sailor/assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Sailor</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="Index">Home</a></li>
                <li class="dropdown">
                    <a href="About" class="active"><span>About</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="Team">Team</a></li>
                        <li><a href="Testimonial">Testimonials</a></li>
                    </ul>
                </li>
                <li><a href="Service">Services</a></li>
                <li><a href="Pricing">Pricing</a></li>
                <li><a href="Blog">Blog</a></li>
                <li><a href="Contact">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="about.html">Get Started</a>

    </div>
</header>