
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/UILayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8">

@await Component.InvokeAsync("_BlogDetailArticleComponentPartial")

@await Component.InvokeAsync("_BlogDetailCommentsComponentPartial")

@await Component.InvokeAsync("_BlogDetailCommentFormComponentPartial")

</div>
    <div class="col-lg-4 sidebar">
            <section>
                <div class="widgets-container">

@await Component.InvokeAsync("_BlogSidebarComponentPartial")

            </div>
            </section>
        </div>
    </div>
</div>
