﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        @await Component.InvokeAsync("_UILayoutHeadComponentPartial")

        @await Component.InvokeAsync("_UILayoutCssComponentPartial")

    </head>
<body>
    @await Component.InvokeAsync("_UILayoutPageTitleComponentPartial", new { title = ViewBag.title })

    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutJavaScriptComponentPartial")

</body>
</html>